@model Portfolio.Models.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}
<section class="upper-section">
    <div class="intro-container">
        <div class="intro">
            <h1 class="first">Hi,</h1>
            <p class="second">My Name Is</p>
            <p class="third">Andreas Nygård</p>
            <br>
            <p class="fourth">Web Developer</p>
            <br>
            <button class="contact">Contact</button>
        </div>
        <div>
            <img src="images/laptop.jpg" alt="Laptop" class="laptop">
        </div>
    </div>

</section>

<section class="about-section">
    <h2>About</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti nobis officia iusto veniam incidunt nemo
        dignissimos, nulla ipsa impedit dolorem distinctio ab laboriosam vel ex amet suscipit odio non asperiores,
        ratione sit tenetur ducimus. Neque, amet. Neque dignissimos dolore voluptatibus velit exercitationem provident
        optio. Delectus at nostrum natus itaque voluptatibus enim accusamus excepturi perferendis commodi dolor quod
        repudiandae saepe facere aliquam cum dicta totam, quidem provident deserunt? Voluptatibus maiores animi
        voluptatum architecto ab commodi, officia aspernatur dolore nobis unde? Rem corrupti facere neque porro
        explicabo nam quasi quae architecto sit eaque amet tempore laudantium quo consequuntur minima, expedita ullam.
        Molestiae!</p>
    <a href="files/CV.pdf" download="Andreas_Nygard_CV.pdf" class="download-btn">
        Download my resume
        <i class="fa-solid fa-download"></i>
    </a>
</section>
<div class="skill-course-container">
    <section class="skills-section">
        <h2>Skills</h2>
        <div class="skills-container">
            <div class="skill-container">
                <h3>Språk:</h3>
                @foreach (var item in Model.Skills)
                {
                    <article class="skill-item">
                        <h4>@item.Name</h4>
                    </article>
                }
            </div>
            <div class="skill-container">
                <h3>Ramverk:</h3>
                @foreach (var item in Model.Frameworks)
                {
                    <article class="skill-item">
                        <h4>@item.Name</h4>
                        <p class="skill-text">@item.Description</p>
                    </article>
                }
            </div>
        </div>
    </section>
    <section class="course-section">
        <h2>Courses</h2>
        @foreach (var item in Model.Courses)
        {
            <article>
                <h4>@item.Name</h4>
                <p>Beskrivning: @item.Description</p>
                <p>Poäng: @item.Points</p>
                <p>Kursplan: <a href="@item.Syllabus" target="_blank">Klicka här</a></p>
            </article>
        }
    </section>
</div>
<section class="project-section">
    <h2>Projects</h2>
    <div class="projects-container">
        <div class="project-container">
            <h3>Stugby</h3>
            <img src="images/Stugby-bild.png" alt="Stugby" class="project-img">
            <p class="project-text">Webbsite built in WordPress</p>
            <a href="https://studenter.miun.se/~anny2301/writeable/stugby-dt209g/" target="_blank"
                class="project-link">Länk</a>
        </div>
        <div class="project-container">
            <h3>Project Name</h3>
            <img src="images/Hundfotografen.png" alt="Hundfotografen" class="project-img">
            <p class="project-text">Webbsite built in WordPress</p>
            <a href="https://timely-strudel-a4485e.netlify.app/" target="_blank" class="project-link">Länk</a>
        </div>
        <div class="project-container">
            <h3>Another Project</h3>
            <img src="images/Street_bites.png" alt="Another Project" class="project-img">
            <p class="project-text">Webbsite built with </p>
            <a href="https://magnificent-travesseiro-b8df50.netlify.app/" target="_blank" class="project-link">Länk</a>
        </div>
    </div>
</section>
